<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Mi perfil de Usuario</h4>
                <h5 class="card-subtitle">Ajustes</h5>
                <br>
                <form>
                    <div class="form-group">
                        <label>Nombre de Persona</label>
                        <input type="text" class="form-control" placeholder="Nombre del usuario">
                        <br>
                        <div class="form-group">
                            <label>Email address</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-email"></i></div>
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10 btn-block"><i class="fa fa-save"></i> Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Avatar</h4>
                <h6 class="card-subtitle">Imagen del usuario</h6>
                <div class="img-container text-center mb-2">
                    <img src="./../../../assets/img/test_avatar.jpg" class="img-avatar">
                </div>
                <input type="file">
                <br>
                <br>
                <button type="button" class="btn btn-success waves-effect waves-light m-r-10 btn-block"><i class="fa fa-save"></i> Cambiar imagen</button>

            </div>
        </div>
    </div>
</div>