<div class="container">
    <div class="row">
        <div class="col">
            <h4 class="card-title">Listado de Personas</h4>
            <h6 class="card-subtitle">Personas registradas en la aplicación ({{totalPersonas}})</h6>
        </div>
        <div class="col">
            <div class="text-end">
                <button routerLink="/panel/persona/nuevo" class="btn btn-primary">                                        
                    <i class="fa fa-user"></i> &nbsp; Crear Persona
                </button>
            </div>
        </div>
    </div>
    <hr>

    <div class="table-responsive animate__animated animate__fadeIn" *ngIf="!cargando">
        <table class="table table-bordered">
            <thead>
                <tr class="text-center">
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th>Puesto</th>
                    <th>Horario</th>
                    <th>Salario</th>
                    <th class="w100">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let persona of personas" class="text-center">
                    <td>
                        <input type="text" class="form-control" placeholder="Nombre persona" [(ngModel)]="persona.nombre">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Apellidos persona" [(ngModel)]="persona.apellidos">
                    </td>
                    <td>
                        <input type="email" class="form-control" placeholder="Email persona" [(ngModel)]="persona.email">
                    </td>
                    <td>
                        <select class="form-control " [(ngModel)]="persona.puesto">
                            <option value=" ">Seleccione el puesto</option>
                            <option value="Administrativ@">Administrativ@</option>
                            <option value="Diseñador/a">Diseñador/a</option>
                            <option value="Desarrollador/a">Desarrollador/a</option>
                            <option value="Front-End Developer">Front-End Developer</option>
                            <option value="Back-End Developer">Back-End Developer</option>
                            <option value="Full-Stack Developer">Full-Stack Developer</option>
                        </select>
                    </td>
                    <td>
                        <select [disabled] class="form-control" [(ngModel)]="persona.horario">
                            <option value=" ">Seleccione el horario</option>
                            <option value="Jornada completa">Jornada completa</option>
                            <option value="Tiempo parcial 1">Tiempo parcial 1</option>
                            <option value="Tiempo parcial 2">Tiempo parcial 2</option>
                        </select>
                    </td>
                    <td>
                        <select [disabled] class="form-control" [(ngModel)]="persona.salario">
                            <option value=" ">Seleccione el salario</option>
                            <option value="13000">13000</option>
                            <option value="15000">15000</option>
                            <option value="18000">18000</option>
                            <option value="20000">20000</option>
                            <option value="22000">22000</option>
                            <option value="23000">23000</option>
                            <option value="25000">25000</option>
                        </select>
                    </td>
                    <td class="text-center">
                        <a (click)="guardarCambios(persona)" data-toggle="tooltip" data-original-title="Guardar"> <i class="fas fa-save fa-2x text-inverse m-r-10 cursor"></i></a>
                        &nbsp;
                        <a (click)="deletePersona(persona)" data-toggle="tooltip" data-original-title="Borrar"> <i class="fas fa-times fa-2x text-danger cursor"></i> </a>
                    </td>
                </tr>
            </tbody>

        </table>
        <button [disabled]="desde === 0" (click)="cambiarPagina(-10)" class="btn btn-primary">Anterior</button> &nbsp;
        <button [disabled]="totalPersonas < (desde + 10)" (click)="cambiarPagina(10) " class="btn btn-primary">Siguiente</button>
    </div>
    <div class="row" *ngIf="cargando">
        <app-loading tipo="personas"></app-loading>
    </div>
</div>