<div class="container fa-border">

    <div class="row mt-2">
        <div class="col">
            <h4 class="card-title">Perfil Usuario</h4>
            <h6 class="card-subtitle">Vista preliminar del Usuario</h6>
        </div>
    </div>

    <hr>

    <div class="row p-2 animate__animated animate__fadeIn">
        <div class="col-md">
            <form [formGroup]="personaForm">
                <div class="form-group row mb-2">
                    <label class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-9 ">
                        <div class="input-group">
                            <input disabled type="text" formControlName="nombre" class="form-control" placeholder="Nombre de Persona">
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-sm-2 col-form-label">Apellidos</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input disabled type="text" formControlName="apellidos" class="form-control" placeholder="Apellidos de Persona">
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input disabled type="text" formControlName="email" class="form-control " placeholder="Email de Persona">
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-sm-2 col-form-label">Puesto</label>
                    <div class="col-sm-9 ">
                        <div class="input-group">
                            <select disabled class="form-control" formControlName="puesto">
                                <option value=" ">Seleccione el puesto</option>
                                <option value="Administrativa ">Administrativa</option>
                                <option value="Administrativo ">Administrativo</option>
                                <option value="Diseñador ">Diseñador</option>
                                <option value="Diseñadora ">Diseñadora</option>
                                <option value="Desarrollador ">Desarrollador</option>
                                <option value="Desarrolladora ">Desarrolladora</option>
                                <option value="Front-End Developer ">Front-End Developer</option>
                                <option value="Back-End Developer ">Back-End Developer</option>
                                <option value="Full-Stack Developer ">Full-Stack Developer</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-sm-2 col-form-label">Horario</label>
                    <div class="col-sm-9 ">
                        <div class="input-group ">
                            <select disabled class="form-control" formControlName="horario">
                                <option value=" ">Seleccione el horario</option>
                                <option value="Jornada completa ">Jornada completa</option>
                                <option value="Tiempo parcial 1 ">Tiempo parcial 1</option>
                                <option value="Tiempo parcial 2 ">Tiempo parcial 2</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label class="col-sm-2 col-form-label ">Salario</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input disabled type="text" formControlName="salario" class="form-control" placeholder="Salario de Persona">
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="form-group row mt-2 col-sm-4">
                        <button (click)="volverAtras()" class="btn btn-success waves-effect waves-light"><i class="fa fa-arrow-left"></i> Volver atrás</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>