<div id="main-wrapper">
    <app-navbar></app-navbar>
    <div class="page-wrapper mt-2">
        <div class="container-fluid">
            <!-- Mi sistema de rutas -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="text-center">
                                <h1>Hola, bienvenid@</h1>
                                <img src="./../../../assets/img/logo.png" alt="GuadalTech">
                                <h3>Mi aplicación v1.0.0</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>