<div class="container animate__animated animate__fadeIn">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <h1>Bienvenid@</h1>
                <img class="img_logo" src="./../../../assets/img/logo.png" alt="GuadalTech">
                <h3 class="mt-3">Mi aplicación de prueba v1.0.0</h3>
                <p class="animate__animated animate__fadeIn mt-3">Esto es una aplicación de prueba <strong>fullstack web developer</strong>, toda esta información NO es real.</p>
            </div>
        </div>
    </div>
</div>